(edif TutorVHDL
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2021 11 24 13 13 25)
  (program "Vivado" (version "2019.1"))
  (comment "Built on 'Fri May 24 14:49:42 MDT 2019'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell LDCE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port CLR (direction INPUT))
        (port D (direction INPUT))
        (port G (direction INPUT))
        (port GE (direction INPUT))
       )
     )
   )
   (cell LUT3 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port I2 (direction INPUT))
       )
     )
   )
   (cell LUT6 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port I2 (direction INPUT))
        (port I3 (direction INPUT))
        (port I4 (direction INPUT))
        (port I5 (direction INPUT))
       )
     )
   )
   (cell LUT5 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port I2 (direction INPUT))
        (port I3 (direction INPUT))
        (port I4 (direction INPUT))
       )
     )
   )
   (cell FDCE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port C (direction INPUT))
        (port CE (direction INPUT))
        (port CLR (direction INPUT))
        (port D (direction INPUT))
       )
     )
   )
   (cell MUXF7 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port S (direction INPUT))
       )
     )
   )
   (cell OBUFT (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
        (port T (direction INPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell TutorVHDL (celltype GENERIC)
     (view TutorVHDL (viewtype NETLIST)
       (interface 
        (port CE (direction INPUT))
        (port CLK (direction INPUT))
        (port CLR (direction INPUT))
        (port DIR (direction INPUT))
        (port LE (direction INPUT))
        (port LOAD (direction INPUT))
        (port OE (direction INPUT))
        (port SEL (direction INPUT))
        (port (array (rename DATA "DATA[3:0]") 4) (direction INPUT))
        (port (array (rename Q "Q[3:0]") 4) (direction OUTPUT))
       )
       (contents
         (instance CE_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance CLK_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance CLK_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance CLR_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename DATA_IBUF_0__inst "DATA_IBUF[0]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename DATA_IBUF_1__inst "DATA_IBUF[1]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename DATA_IBUF_2__inst "DATA_IBUF[2]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename DATA_IBUF_3__inst "DATA_IBUF[3]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance DIR_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance LE_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance LE_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance LOAD_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename L_DAT_reg_0_ "L_DAT_reg[0]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LDC"))
           (property INIT (string "1'b0"))
         )
         (instance (rename L_DAT_reg_1_ "L_DAT_reg[1]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LDC"))
           (property INIT (string "1'b0"))
         )
         (instance (rename L_DAT_reg_2_ "L_DAT_reg[2]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LDC"))
           (property INIT (string "1'b0"))
         )
         (instance (rename L_DAT_reg_3_ "L_DAT_reg[3]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LDC"))
           (property INIT (string "1'b0"))
         )
         (instance OE_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename Q_INT_0__i_1 "Q_INT[0]_i_1") (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'h8B"))
           (property SOFT_HLUTNM (string "soft_lutpair0"))
         )
         (instance (rename Q_INT_1__i_2 "Q_INT[1]_i_2") (viewref netlist (cellref LUT6 (libraryref hdi_primitives)))
           (property INIT (string "64'h8B888BB8B88BB888"))
         )
         (instance (rename Q_INT_1__i_3 "Q_INT[1]_i_3") (viewref netlist (cellref LUT5 (libraryref hdi_primitives)))
           (property INIT (string "32'h8BB8B88B"))
         )
         (instance (rename Q_INT_2__i_2 "Q_INT[2]_i_2") (viewref netlist (cellref LUT6 (libraryref hdi_primitives)))
           (property INIT (string "64'hB888B888888B8888"))
         )
         (instance (rename Q_INT_2__i_3 "Q_INT[2]_i_3") (viewref netlist (cellref LUT5 (libraryref hdi_primitives)))
           (property INIT (string "32'h8BBBBBB8"))
         )
         (instance (rename Q_INT_3__i_2 "Q_INT[3]_i_2") (viewref netlist (cellref LUT6 (libraryref hdi_primitives)))
           (property INIT (string "64'hBB8B8888BBB8888B"))
         )
         (instance (rename Q_INT_3__i_3 "Q_INT[3]_i_3") (viewref netlist (cellref LUT6 (libraryref hdi_primitives)))
           (property INIT (string "64'h8BBBBBBBB8888888"))
         )
         (instance (rename Q_INT_reg_0_ "Q_INT_reg[0]") (viewref netlist (cellref FDCE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename Q_INT_reg_1_ "Q_INT_reg[1]") (viewref netlist (cellref FDCE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename Q_INT_reg_1__i_1 "Q_INT_reg[1]_i_1") (viewref netlist (cellref MUXF7 (libraryref hdi_primitives))))
         (instance (rename Q_INT_reg_2_ "Q_INT_reg[2]") (viewref netlist (cellref FDCE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename Q_INT_reg_2__i_1 "Q_INT_reg[2]_i_1") (viewref netlist (cellref MUXF7 (libraryref hdi_primitives))))
         (instance (rename Q_INT_reg_3_ "Q_INT_reg[3]") (viewref netlist (cellref FDCE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename Q_INT_reg_3__i_1 "Q_INT_reg[3]_i_1") (viewref netlist (cellref MUXF7 (libraryref hdi_primitives))))
         (instance (rename Q_OBUFT_0__inst "Q_OBUFT[0]_inst") (viewref netlist (cellref OBUFT (libraryref hdi_primitives))))
         (instance (rename Q_OBUFT_0__inst_i_1 "Q_OBUFT[0]_inst_i_1") (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'hB8"))
           (property SOFT_HLUTNM (string "soft_lutpair0"))
         )
         (instance (rename Q_OBUFT_1__inst "Q_OBUFT[1]_inst") (viewref netlist (cellref OBUFT (libraryref hdi_primitives))))
         (instance (rename Q_OBUFT_1__inst_i_1 "Q_OBUFT[1]_inst_i_1") (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'hB8"))
         )
         (instance (rename Q_OBUFT_2__inst "Q_OBUFT[2]_inst") (viewref netlist (cellref OBUFT (libraryref hdi_primitives))))
         (instance (rename Q_OBUFT_2__inst_i_1 "Q_OBUFT[2]_inst_i_1") (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'hB8"))
           (property SOFT_HLUTNM (string "soft_lutpair1"))
         )
         (instance (rename Q_OBUFT_3__inst "Q_OBUFT[3]_inst") (viewref netlist (cellref OBUFT (libraryref hdi_primitives))))
         (instance (rename Q_OBUFT_3__inst_i_1 "Q_OBUFT[3]_inst_i_1") (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'hB8"))
           (property SOFT_HLUTNM (string "soft_lutpair1"))
         )
         (instance SEL_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (net CE (joined
          (portref I (instanceref CE_IBUF_inst))
          (portref CE)
          )
         )
         (net CE_IBUF (joined
          (portref CE (instanceref Q_INT_reg_0_))
          (portref CE (instanceref Q_INT_reg_1_))
          (portref CE (instanceref Q_INT_reg_2_))
          (portref CE (instanceref Q_INT_reg_3_))
          (portref O (instanceref CE_IBUF_inst))
          )
         )
         (net CLK (joined
          (portref I (instanceref CLK_IBUF_inst))
          (portref CLK)
          )
         )
         (net CLK_IBUF (joined
          (portref I (instanceref CLK_IBUF_BUFG_inst))
          (portref O (instanceref CLK_IBUF_inst))
          )
         )
         (net CLK_IBUF_BUFG (joined
          (portref C (instanceref Q_INT_reg_0_))
          (portref C (instanceref Q_INT_reg_1_))
          (portref C (instanceref Q_INT_reg_2_))
          (portref C (instanceref Q_INT_reg_3_))
          (portref O (instanceref CLK_IBUF_BUFG_inst))
          )
         )
         (net CLR (joined
          (portref I (instanceref CLR_IBUF_inst))
          (portref CLR)
          )
         )
         (net CLR_IBUF (joined
          (portref CLR (instanceref L_DAT_reg_0_))
          (portref CLR (instanceref L_DAT_reg_1_))
          (portref CLR (instanceref L_DAT_reg_2_))
          (portref CLR (instanceref L_DAT_reg_3_))
          (portref CLR (instanceref Q_INT_reg_0_))
          (portref CLR (instanceref Q_INT_reg_1_))
          (portref CLR (instanceref Q_INT_reg_2_))
          (portref CLR (instanceref Q_INT_reg_3_))
          (portref O (instanceref CLR_IBUF_inst))
          )
         )
         (net (rename DATA_0_ "DATA[0]") (joined
          (portref I (instanceref DATA_IBUF_0__inst))
          (portref (member DATA 3))
          )
         )
         (net (rename DATA_1_ "DATA[1]") (joined
          (portref I (instanceref DATA_IBUF_1__inst))
          (portref (member DATA 2))
          )
         )
         (net (rename DATA_2_ "DATA[2]") (joined
          (portref I (instanceref DATA_IBUF_2__inst))
          (portref (member DATA 1))
          )
         )
         (net (rename DATA_3_ "DATA[3]") (joined
          (portref I (instanceref DATA_IBUF_3__inst))
          (portref (member DATA 0))
          )
         )
         (net (rename DATA_IBUF_0_ "DATA_IBUF[0]") (joined
          (portref D (instanceref L_DAT_reg_0_))
          (portref I0 (instanceref Q_INT_0__i_1))
          (portref O (instanceref DATA_IBUF_0__inst))
          )
         )
         (net (rename DATA_IBUF_1_ "DATA_IBUF[1]") (joined
          (portref D (instanceref L_DAT_reg_1_))
          (portref I0 (instanceref Q_INT_1__i_2))
          (portref I0 (instanceref Q_INT_1__i_3))
          (portref O (instanceref DATA_IBUF_1__inst))
          )
         )
         (net (rename DATA_IBUF_2_ "DATA_IBUF[2]") (joined
          (portref D (instanceref L_DAT_reg_2_))
          (portref I0 (instanceref Q_INT_2__i_2))
          (portref I0 (instanceref Q_INT_2__i_3))
          (portref O (instanceref DATA_IBUF_2__inst))
          )
         )
         (net (rename DATA_IBUF_3_ "DATA_IBUF[3]") (joined
          (portref D (instanceref L_DAT_reg_3_))
          (portref I0 (instanceref Q_INT_3__i_2))
          (portref I0 (instanceref Q_INT_3__i_3))
          (portref O (instanceref DATA_IBUF_3__inst))
          )
         )
         (net DIR (joined
          (portref I (instanceref DIR_IBUF_inst))
          (portref DIR)
          )
         )
         (net DIR_IBUF (joined
          (portref I2 (instanceref Q_INT_1__i_2))
          (portref I2 (instanceref Q_INT_1__i_3))
          (portref I2 (instanceref Q_INT_2__i_2))
          (portref I2 (instanceref Q_INT_2__i_3))
          (portref I2 (instanceref Q_INT_3__i_2))
          (portref I4 (instanceref Q_INT_3__i_3))
          (portref O (instanceref DIR_IBUF_inst))
          )
         )
         (net LE (joined
          (portref I (instanceref LE_IBUF_inst))
          (portref LE)
          )
         )
         (net LE_IBUF (joined
          (portref I (instanceref LE_IBUF_BUFG_inst))
          (portref O (instanceref LE_IBUF_inst))
          )
         )
         (net LE_IBUF_BUFG (joined
          (portref G (instanceref L_DAT_reg_0_))
          (portref G (instanceref L_DAT_reg_1_))
          (portref G (instanceref L_DAT_reg_2_))
          (portref G (instanceref L_DAT_reg_3_))
          (portref O (instanceref LE_IBUF_BUFG_inst))
          )
         )
         (net LOAD (joined
          (portref I (instanceref LOAD_IBUF_inst))
          (portref LOAD)
          )
         )
         (net LOAD_IBUF (joined
          (portref I1 (instanceref Q_INT_0__i_1))
          (portref I1 (instanceref Q_INT_1__i_2))
          (portref I1 (instanceref Q_INT_1__i_3))
          (portref I1 (instanceref Q_INT_2__i_2))
          (portref I1 (instanceref Q_INT_2__i_3))
          (portref I1 (instanceref Q_INT_3__i_2))
          (portref I1 (instanceref Q_INT_3__i_3))
          (portref O (instanceref LOAD_IBUF_inst))
          )
         )
         (net (rename L_DAT_0_ "L_DAT[0]") (joined
          (portref I0 (instanceref Q_OBUFT_0__inst_i_1))
          (portref Q (instanceref L_DAT_reg_0_))
          )
         )
         (net (rename L_DAT_1_ "L_DAT[1]") (joined
          (portref I0 (instanceref Q_OBUFT_1__inst_i_1))
          (portref Q (instanceref L_DAT_reg_1_))
          )
         )
         (net (rename L_DAT_2_ "L_DAT[2]") (joined
          (portref I0 (instanceref Q_OBUFT_2__inst_i_1))
          (portref Q (instanceref L_DAT_reg_2_))
          )
         )
         (net (rename L_DAT_3_ "L_DAT[3]") (joined
          (portref I0 (instanceref Q_OBUFT_3__inst_i_1))
          (portref Q (instanceref L_DAT_reg_3_))
          )
         )
         (net OE (joined
          (portref I (instanceref OE_IBUF_inst))
          (portref OE)
          )
         )
         (net (rename Q_0_ "Q[0]") (joined
          (portref O (instanceref Q_OBUFT_0__inst))
          (portref (member Q 3))
          )
         )
         (net (rename Q_1_ "Q[1]") (joined
          (portref O (instanceref Q_OBUFT_1__inst))
          (portref (member Q 2))
          )
         )
         (net (rename Q_2_ "Q[2]") (joined
          (portref O (instanceref Q_OBUFT_2__inst))
          (portref (member Q 1))
          )
         )
         (net (rename Q_3_ "Q[3]") (joined
          (portref O (instanceref Q_OBUFT_3__inst))
          (portref (member Q 0))
          )
         )
         (net (rename Q_INT_0_ "Q_INT[0]") (joined
          (portref I2 (instanceref Q_INT_0__i_1))
          (portref I2 (instanceref Q_INT_3__i_3))
          (portref I2 (instanceref Q_OBUFT_0__inst_i_1))
          (portref I3 (instanceref Q_INT_2__i_2))
          (portref I3 (instanceref Q_INT_2__i_3))
          (portref I4 (instanceref Q_INT_1__i_3))
          (portref I5 (instanceref Q_INT_1__i_2))
          (portref I5 (instanceref Q_INT_3__i_2))
          (portref Q (instanceref Q_INT_reg_0_))
          )
         )
         (net (rename Q_INT_0__i_1_n_0 "Q_INT[0]_i_1_n_0") (joined
          (portref D (instanceref Q_INT_reg_0_))
          (portref O (instanceref Q_INT_0__i_1))
          )
         )
         (net (rename Q_INT_1_ "Q_INT[1]") (joined
          (portref I2 (instanceref Q_OBUFT_1__inst_i_1))
          (portref I3 (instanceref Q_INT_1__i_2))
          (portref I3 (instanceref Q_INT_1__i_3))
          (portref I3 (instanceref Q_INT_3__i_2))
          (portref I3 (instanceref Q_INT_3__i_3))
          (portref I4 (instanceref Q_INT_2__i_3))
          (portref I5 (instanceref Q_INT_2__i_2))
          (portref Q (instanceref Q_INT_reg_1_))
          )
         )
         (net (rename Q_INT_1__i_2_n_0 "Q_INT[1]_i_2_n_0") (joined
          (portref I0 (instanceref Q_INT_reg_1__i_1))
          (portref O (instanceref Q_INT_1__i_2))
          )
         )
         (net (rename Q_INT_1__i_3_n_0 "Q_INT[1]_i_3_n_0") (joined
          (portref I1 (instanceref Q_INT_reg_1__i_1))
          (portref O (instanceref Q_INT_1__i_3))
          )
         )
         (net (rename Q_INT_2_ "Q_INT[2]") (joined
          (portref I2 (instanceref Q_OBUFT_2__inst_i_1))
          (portref Q (instanceref Q_INT_reg_2_))
          (portref S (instanceref Q_INT_reg_1__i_1))
          (portref S (instanceref Q_INT_reg_2__i_1))
          (portref S (instanceref Q_INT_reg_3__i_1))
          )
         )
         (net (rename Q_INT_2__i_2_n_0 "Q_INT[2]_i_2_n_0") (joined
          (portref I0 (instanceref Q_INT_reg_2__i_1))
          (portref O (instanceref Q_INT_2__i_2))
          )
         )
         (net (rename Q_INT_2__i_3_n_0 "Q_INT[2]_i_3_n_0") (joined
          (portref I1 (instanceref Q_INT_reg_2__i_1))
          (portref O (instanceref Q_INT_2__i_3))
          )
         )
         (net (rename Q_INT_3_ "Q_INT[3]") (joined
          (portref I2 (instanceref Q_OBUFT_3__inst_i_1))
          (portref I4 (instanceref Q_INT_1__i_2))
          (portref I4 (instanceref Q_INT_2__i_2))
          (portref I4 (instanceref Q_INT_3__i_2))
          (portref I5 (instanceref Q_INT_3__i_3))
          (portref Q (instanceref Q_INT_reg_3_))
          )
         )
         (net (rename Q_INT_3__i_2_n_0 "Q_INT[3]_i_2_n_0") (joined
          (portref I0 (instanceref Q_INT_reg_3__i_1))
          (portref O (instanceref Q_INT_3__i_2))
          )
         )
         (net (rename Q_INT_3__i_3_n_0 "Q_INT[3]_i_3_n_0") (joined
          (portref I1 (instanceref Q_INT_reg_3__i_1))
          (portref O (instanceref Q_INT_3__i_3))
          )
         )
         (net (rename Q_INT_reg_1__i_1_n_0 "Q_INT_reg[1]_i_1_n_0") (joined
          (portref D (instanceref Q_INT_reg_1_))
          (portref O (instanceref Q_INT_reg_1__i_1))
          )
         )
         (net (rename Q_INT_reg_2__i_1_n_0 "Q_INT_reg[2]_i_1_n_0") (joined
          (portref D (instanceref Q_INT_reg_2_))
          (portref O (instanceref Q_INT_reg_2__i_1))
          )
         )
         (net (rename Q_INT_reg_3__i_1_n_0 "Q_INT_reg[3]_i_1_n_0") (joined
          (portref D (instanceref Q_INT_reg_3_))
          (portref O (instanceref Q_INT_reg_3__i_1))
          )
         )
         (net (rename Q_OBUF_0_ "Q_OBUF[0]") (joined
          (portref I (instanceref Q_OBUFT_0__inst))
          (portref O (instanceref Q_OBUFT_0__inst_i_1))
          )
         )
         (net (rename Q_OBUF_1_ "Q_OBUF[1]") (joined
          (portref I (instanceref Q_OBUFT_1__inst))
          (portref O (instanceref Q_OBUFT_1__inst_i_1))
          )
         )
         (net (rename Q_OBUF_2_ "Q_OBUF[2]") (joined
          (portref I (instanceref Q_OBUFT_2__inst))
          (portref O (instanceref Q_OBUFT_2__inst_i_1))
          )
         )
         (net (rename Q_OBUF_3_ "Q_OBUF[3]") (joined
          (portref I (instanceref Q_OBUFT_3__inst))
          (portref O (instanceref Q_OBUFT_3__inst_i_1))
          )
         )
         (net (rename Q_TRI_0_ "Q_TRI[0]") (joined
          (portref O (instanceref OE_IBUF_inst))
          (portref T (instanceref Q_OBUFT_0__inst))
          (portref T (instanceref Q_OBUFT_1__inst))
          (portref T (instanceref Q_OBUFT_2__inst))
          (portref T (instanceref Q_OBUFT_3__inst))
          )
         )
         (net SEL (joined
          (portref I (instanceref SEL_IBUF_inst))
          (portref SEL)
          )
         )
         (net SEL_IBUF (joined
          (portref I1 (instanceref Q_OBUFT_0__inst_i_1))
          (portref I1 (instanceref Q_OBUFT_1__inst_i_1))
          (portref I1 (instanceref Q_OBUFT_2__inst_i_1))
          (portref I1 (instanceref Q_OBUFT_3__inst_i_1))
          (portref O (instanceref SEL_IBUF_inst))
          )
         )
         (net VCC_1 (joined
          (portref GE (instanceref L_DAT_reg_0_))
          (portref GE (instanceref L_DAT_reg_1_))
          (portref GE (instanceref L_DAT_reg_2_))
          (portref GE (instanceref L_DAT_reg_3_))
          (portref P (instanceref VCC))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design TutorVHDL
    (cellref TutorVHDL (libraryref work))
    (property XLNX_PROJ_DIR (string "C:/My_Designs/KF_tutor4_10_11_21/TutorVHDL_Sr1250/synthesis"))
    (property part (string "xc7a100tcsg324-1"))
  )
)
